<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baseURL" value="http://localhost:5146" />
		<add key="authUrl" value="http://localhost:8080" />
		<!--<add key="authUrl" value="http://localhost:8080" />-->
		<add key="realm" value="winappdemo" />
		<add key="clientId" value="app1" />
    </appSettings>
</configuration>